@import "tailwindcss";

:root {

    /* Color: dark */

    --color-dark-0: #c9c9c9;
    --color-dark-1: #b8b8b8;
    --color-dark-2: #828282;
    --color-dark-3: #696969;
    --color-dark-4: #424242;
    --color-dark-5: #3b3b3b;
    --color-dark-6: #2e2e2e;
    --color-dark-7: #242424;
    --color-dark-8: #1f1f1f;
    --color-dark-9: #141414;



    /* Color: pink */

    --color-pink-0: #fff0f6;
    --color-pink-1: #ffdeeb;
    --color-pink-2: #fcc2d7;
    --color-pink-3: #faa2c1;
    --color-pink-4: #f783ac;
    --color-pink-5: #f06595;
    --color-pink-6: #e64980;
    --color-pink-7: #d6336c;
    --color-pink-8: #c2255c;
    --color-pink-9: #a61e4d;



    /* Color: primary */

    --color-primary-0: var(--color-pink-0);
    --color-primary-1: var(--color-pink-1);
    --color-primary-2: var(--color-pink-2);
    --color-primary-3: var(--color-pink-3);
    --color-primary-4: var(--color-pink-4);
    --color-primary-5: var(--color-pink-5);
    --color-primary-6: var(--color-pink-6);
    --color-primary-7: var(--color-pink-7);
    --color-primary-8: var(--color-pink-8);
    --color-primary-9: var(--color-pink-9);

    --color-primary-light: var(--color-primary-4);
    --color-primary: var(--color-primary-5);
    --color-primary-dark: var(--color-primary-6);
    --color-primary-darker: var(--color-primary-7);
    --color-primary-darkest: var(--color-primary-8);



    /* Color: foreground */

    --color-foreground: var(--color-dark-0);
    --color-foreground-dark: var(--color-dark-1);



    /* Color: background */

    --color-background-light: var(--color-dark-8);
    --color-background: var(--color-dark-9);

}



* {
    color: var(--color-foreground);
    outline: none;
    border: none;
    font-family: Geist;
}

p {
    line-height: 1.6;
}

p code {
    background-color: var(--color-background-light);
    border-radius: 4px;
}

p a {
    color: var(--color-primary);
}

code {
    font-family: Geist Mono;
}

body {
    background-color: var(--color-background);
}



details summary::-webkit-details-marker,
details summary::marker {
    display: none;
}

details summary {
    list-style: none;
}



._outline-on-focus:focus-visible {
    outline: 2px solid var(--color-primary);
}

._darken-on-hover:hover,
._darken-on-focus:hover {
    color: var(--color-foreground-dark);
}